
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@font-face {
  font-family: 'Porter Sans Block Regular' ;
  src: url('./assets/fonts/porter-sans-inline-block-webfont.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}


.quicksand-light {
              font-family: "Quicksand", sans-serif;
              font-optical-sizing: auto;
              font-weight: 300;
              font-style: normal;
            }

body{
  font-family: 'Porter Sans Block Regular', sans-serif ;
  margin: 0;
}

.container{
  position:relative;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
}
.foreground{
  right: 0;
  position :absolute;
  background: #ffc9bc;
  width: 100vw;
  height: 100vh;
  border-top-left-radius:270px;
  z-index: 2;
  transition: width 1s ease-in-out, border-radius 1s ease-in-out;
  overflow: auto;
  max-height: 100vh;
}
.home-logo{
  z-index: 3;
  display:block;
  justify-content: center;
  align-items:center;
  width:250px;
  height:auto;
  margin-top:20px;
}
.header-home{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.background{
  z-index: 1;
  position: absolute;
  background: #410404;
  height: 100vh;
  width:100vw;
  transition:width 1s ease-in-out;
}
.menu-button{
  position:fixed;
  top:20px;
  left:20px;
  width:50px;
  height:50px;
  background: none;
  border:none;
  cursor: pointer;
}
.foreground.shift{
  border-top-left-radius: 47px;
  width:80vw;
}
.open-menu-button{
  background: none;
  border: none;
  height: 60px;
  width:80%;
  left:50%;
  transition: width 1s ease-in-out;
  cursor: pointer;
}
.background.shift{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 25vw;
  align-items:center;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 550px) {

  .foreground.shift{
    border-top-left-radius: 20px;

  }
  .background.shift {
    align-items: flex-start;
    width:27vw;
  }
  .menu-buttons{
    text-align: left;
    width: 100%;
  }
  .home-heading{
    font-size:9vw !important;
  }
  .intro-para-heading{
    font-size: 6vw !important;
  }
  .home-para{
    font-size: 4vw !important;
  }
  .vent-heading{
    font-size:9vw!important;
  }
  .vent-subheading{
    font-size: 6vw !important;
  }
}
.menu-buttons{
  font-family: 'Porter Sans Block Regular', sans-serif ;
  flex-grow: 1;
  width: 80%;
  height:5%;
  text-align: center;
  margin-top:15vh;
  cursor: pointer;
  border: none;
  background: none;
  color:#ffc9bc;
  font-size: 2.5vw;
}
.home-heading{
  z-index: 3;
  text-align: center;
  width:100vw;
  font-size:8vh;
  color: #410404;

}
.content-home{
  font-family:'Indie Flower',cursive;
  font-weight: bold;
  background-color: #FFDDDD;
  position: relative;
  border-radius:60px;
  margin-left: 5vw;
  margin-right: 5vw;
  padding-bottom: 5vh;
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
}
.intro-para-heading{
  text-align: center;
  font-size: 6vh;
}
.home-para{
  text-align: justify;
  font-size: 4vh;
}

.vent-heading{
  font-size:8vh;
  text-align:center;
  margin-top: 15vh;
}
.vent-subheading{
  text-align:center;
  font-family:"Quicksand",sans-serif!important;
  font-size: 4vh;
}
.vent-notepad{
  background:url('/images/notepad-vent.jpg');
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
  padding-left:15vw;
  padding-top:15vw;
  padding-right:1vw;
  background-size: cover;
  background-repeat:no-repeat;
  aspect-ratio: 3/4;
  outline: none;
  border-radius: 100px;
}
.vent-text{
  outline:none;
  background: transparent;
  border: none;
  width:100%;
  height:100%;
  resize:none;
  font-family:'Indie Flower',cursive;
  font-size:3vw;
  line-height: 3.20vw;
}

.box{
  opacity: 80%;
  background-color: #C58888;
  display: flex;
  flex-direction: column;
  margin-top: 10vw;
  margin-left:25vw;
  margin-right:25vw;
  padding-top:5vh;
  padding-bottom:5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 57px;
  align-items: center;
}
.button-last{
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align:center;
  width:100%;
  margin-top:5vh;
  margin-bottom:5vh;
  font-family: "Porter Sans Block Regular", sans-serif;
  font-size:3vw;
}

.heading-user{
  font-size:4vw;
  text-align: center;
}

.input-heading{
  text-align: center;
  font-size:2vw;
}

.input-details{
  width:25vw !important;
  height:2.5vw;
  border:none;
  border-radius:20px;
  align-self: center;
  display: block;
  font-size:1.5vw;
  font-family: 'Quicksand', cursive;
}